div.page-header#login-header
	h1 Connect Your Shopify Store to Xend

div(style="width:340px; margin:0 auto;")
	form(method="POST", action="/login/authenticate", class="form-search")
		div(style="margin:0;padding:0;display:inline")
		input(type="text", name="shop", id="shop", placeholder="Store Name", class="btn-large")
		input(type="submit", value="Connect", class="btn btn-primary btn-large")